.Category_Container {
    position: relative;
    top: -5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    gap: 15px;
    z-index: 100;
}

