

.sliderWrapper {
    width: 100%;
    max-height: 400px;

    position: relative;
    z-index: 1;
}

/* Swiper container */
.swiper {
    width: 100%;
    height: 100%;
}

/* Each slide image */
.slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

/* Navigation arrows (Amazon-like) */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 45px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
    font-size: 20px;
    font-weight: bold;
}

/* Pagination dots */
:global(.swiper-pagination-bullet) {
    background-color: #aaa;
    opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
    background-color: #111;
}

/* Scrollbar */
:global(.swiper-scrollbar) {
    background: rgba(0, 0, 0, 0.1);
}

:global(.swiper-scrollbar-drag) {
    background: #111;
}