/* front-end/src/index.css or App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* Prevents horizontal scroll */
  max-width: 100vw;
  /* Maximum width = viewport width */
}

body {
  position: relative;
  min-height: 100vh;
}